<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container">
  <h2>Login</h2>
  <form method="post">
    <input name="username" placeholder="Username">
    <input name="password" placeholder="Password">
    <button>Login</button>
  </form>
</div>

</body>
</html>
