<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>

<div class="page">
  <div class="left">
    <div class="card">
      <h2>Login</h2>

      <% if (error) { %>
        <p class="error"><%= error %></p>
      <% } %>

      <form method="post">
        <input name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button class="btn">Log in</button>
      </form>

      <div class="link">
        <a href="/register">Create account</a>
      </div>
    </div>
  </div>

  <div class="right"></div>
</div>
<a href="/profile" class="back-btn">← Back</a>
</body>
</html>
