<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>

<div class="page">
  <div class="left">
    <div class="card">
      <h2>Create account</h2>

      <form method="post">
        <input name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button class="btn">Register</button>
      </form>

      <div class="link">
        <a href="/login">Back to login</a>
      </div>
    </div>
  </div>

  <div class="right"></div>
</div>
<a href="/" class="back-btn">← Back</a>
</body>
</html>
